.calculator {
    height: 350px;
    margin: 100px auto;
    overflow: hidden;
    width: 228px;
}

.calculator__buttons-wrapper {
    display: flex;
}

.calculator__left-buttons {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.calculator__operator-buttons {
    flex: 1;
}
